body {
background: rgb(5, 4, 10);
background-image: url(../public/bg.png);
background-size: cover;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080513",endColorstr="#1d1229",GradientType=1);
font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;;500;600;700&display=swap');

.Main {
  width: 90%;
  margin: 0 auto;
  padding: 0px;
}

.Navbara {
  background: rgba(0, 0, 0, 0);
  border-radius: 18px;
  color: white;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavbarLeft {
  float: left;
  font-weight: 400;
  font-size: 16px;
  
}

.NavbarRight {
  float: right;
  align-items: center;
  justify-content: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}


@media (max-width: 768px) {
  .Navbara {
    flex-direction: column;
    align-items: center;
  }

  body {
    background-repeat: no-repeat;
    background-size: 1000%;
  }

  .NavbarLeft {
    order: 1;
  }

  .NavbarRight {
    margin-top: 10px; /* Espacio entre los botones en la versión móvil */
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  .container {
    margin-top: 0px !important;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.Title {
  font-size: 20px;
  font-weight: 500;
}

.column2{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-basis: 30%;
  min-width: 300px;
  padding: 10px;
}

.ContainerContent {
  width: 75%;
  margin: 0 auto;
}

.TokenContainer {
  text-align: center;
  background-color: #002129;
  border: 2px solid #01A8C3;
  padding: 30px 10px;
  width: 95%;
  margin: 0 auto;
  border-radius: 6px;
  max-width: 300px;
}


.input {
  width: 98%;
  height: 25px;
  border-radius: 6px;
  border: 2px solid #01A8C3;
  color: white;
  text-align: center;
  outline: none;
  background-color: #3d71792f;
  font-size: 16px;
  padding: 5px 0px;
}

.BuyButton {
  width: 100%;
  background-color: #3B95A4;
  outline: none;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 15px;
}

.BuyButton:disabled {
  cursor: not-allowed;
}

.TokenRate {
  font-size: 18px;
  font-weight: 700;
}

.TokenMsm {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.796);
  margin-top: -10px;
}

.TokenError {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.796);;
}

::-webkit-scrollbar {
  width: 10px; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #01A8C3; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c7886; 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
